html,
body {
    transition: all 0.3s;
}

#logo a {
    color: #444;
}

.my-works-button {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 700;
    opacity: 0.8;
    transition: all 0.3s;
}

.my-works-button:hover {
    opacity: 1;
}

.bg-666 {
    background-color: #666 !important;
}

.portfolio-link {
    color: #333 !important;
    transition: all 0.3s;
}

.niche-demos-lists li a:hover {
    color: #555;
    transition: all 0.3s;
}

@media screen and (min-width: 768px) {
    .lists-2 li:first-child {
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 425px) {

    .dark .progress-percent::after,
    .dark .progress-percent::before {
        top: -8px;
        transform: rotate(180deg);
    }

    .progress-percent {
        top: 9px !important;
    }

    .slider-caption h2 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 576px) {
    .footer-name {
        transition: all 0.3s;
    }

    .footer-name:hover {
        transition: all 0.3s;
    }
}