html,
body {
    transition: all 0.3s;
}

#logo a {
    color: #444;
}

#header-wrap {
    position: fixed;
}

.my-works-button {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 700;
    opacity: 0.8;
    transition: all 0.3s;
}

.my-works-button:hover {
    opacity: 1;
}

.bg-666 {
    background-color: #666 !important;
}

.niche-demos-lists li a {
    color: #333 !important;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.niche-demos-lists li a:hover {
    color: #555;
    transition: all 0.3s;
}

@media screen and (min-width: 768px) {
    .lists-2 li:first-child {
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    #slider {
        height: 100vh !important;
    }
}

@media screen and (max-width: 425px) {

    .dark .progress-percent::after,
    .dark .progress-percent::before {
        top: -10px;
        transform: rotate(180deg);
    }

    .progress-percent {
        top: 9px !important;
    }

    .slider-caption h2 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 577px) {
    .footer-name {
        transition: all 0.3s;
    }

    .footer-name:hover {
        transition: all 0.3s;
    }
}

@media screen and (max-width: 576px) {
    .niche-demos-lists li a {
        width: 100%;
        font-size: 17px !important;
    }

    .portfolio-image-wrapper {
        width: 52px;
        margin-right: 10px;
    }

    .portfolio-text {
        width: -webkit-fill-available;
    }

    .slider-element .slider-caption p {
        font-size: 20px !important;
    }
}

/* #section-about::before {
    content: '';
    position: absolute;
    top: 14%;
    left: 45%;
    width: 80%;
    height: 451px;
    background-size: 1280px 451px;
    background-repeat: no-repeat;
    background-image: url(images/hero-3.svg);
} */

@media screen and (max-width: 1199px) {
    #section-works.section.page-section.m-0 {
        background-size: cover !important;
    }
}

@media screen and (max-width: 860px) {
    #slider .vh-100.vw-100.position-fixed {
        background-size: cover !important;
        background-position: center !important;
    }
}

.slider-element .slider-caption h2 {
    text-shadow: 3px 2px 3px #000;
}

a.font-primary.border-0.ls1.topmargin-sm.inline-block.more-link.dark.d-none.d-sm-inline-block.fadeIn.animated {
    color: #333 !important;
    /* text-shadow: 3px 2px 3px #000; */
}

.dark .heading-block2::after {
    border-top-color: #333 !important;
}